                                                              ASSIGNMENT - 2

In [ ]:
'''Q-1 What are data structures, and why are they important?
Ans= Data structures store and organize data. They're important because they help process 
and access data efficiently (like lists, stacks, queues, etc.).'''

In [ ]:
'''Q-2   Explain the difference between mutable and immutable data types with examples?
ANS = Mutable: Can be changed after creation.
Example: list
Immutable: Cannot be changed after creation.
Example: tuple, string
'''

In [ ]:
'''Q-3  What are the main differences between lists and tuples in Python?
ans=  A list is a mutable, ordered collection of items in Python, meaning you can change, add, or remove elements. It uses square brackets []. A tuple is similar to a list but is immutable, meaning its values cannot be changed once created. Tuples use parentheses (). 
Use lists when data needs to change, and tuples when data should remain constant.

In [ ]:
''' Q-4 Describe how dictionaries store data:
Dictionaries use a key-value pair format. Internally, 
they use a hash table to store keys and map them to values efficiently.
'''

In [ ]:
'''Q-5: Why might you use a set instead of a list in Python?
 ANS= a)To store unique values (sets automatically remove duplicates).
b)Faster lookup (checking if a value exists).
c)Useful for set operations like union, intersection, etc.
'''

In [ ]:
'''Q-6: What is a string in Python, and how is it different from a list?
ans= A string is a sequence of characters: "hello"
A list can store any data type: ['h', 'e', 'l', 'l', 'o']
Strings are immutable, lists are mutable.'''

'''

In [ ]:
'''
Q-7:How do tuples ensure data integrity in Python?
ans= Because tuples are immutable, their content can’t be changed.
This ensures the data remains constant and
Q-8:protected, which is useful in fixed collections (like coordinates).
'''

In [ ]:
'''
Q-8: What is a hash table, and how does it relate to dictionaries in Python?
ans= A hash table maps keys to indexes using a hash function.
Python dictionaries use hash tables internally for fast access to values using keys.
'''

In [ ]:
'''
Q-9: Can lists contain different data types in Python?
ans= Yes, list can contain different datatypes in a python.
'''

In [ ]:
'''
Q-10: Explain why strings are immutable in Python?
ans= Safety: Prevents accidental modification.
Efficiency: Easier to optimize and cache.
Sharing: Multiple variables can point to the same string without copying.
'''

In [ ]:
'''
Q-11:  What advantages do dictionaries offer over lists for certain tasks?
ans= a) Fast access using keys (O(1) time).

b)More meaningful data representation (e.g., name-value pairs).

c)Avoids using indexes, which are harder to track in large data sets.
'''

In [ ]:
'''
Q-12: Describe a scenario where using a tuple would be preferable over a list?
ans= When you need a fixed set of values that shouldn't change.
Example: GPS coordinates (27.7041, 85.3086) or days of the week.
'''

In [ ]:
'''
Q-13: How do sets handle duplicate values in Python?
ans= Sets automatically remove duplicates.
'''

In [ ]:
'''
Q-14: How does the “in” keyword work differently for lists and dictionaries?
ans= n lists: checks for values
'''
2 in [1, 2, 3] → True

# In dicts: checks for keys
'name' in {'name': 'Alice'} → True

In [ ]:
'''
Q-15: Can you modify the elements of a tuple? Explain why or why not?
ans= No, because tuples are immutable.
Once created, elements cannot be added, removed, or changed.
'''

In [ ]:
'''
Q-16:What is a nested dictionary, and give an example of its use case?
ans= A nested dictionary means , A dictionary inside another dictionary.
'''

In [ ]:
'''
Q-17: Describe the time complexity of accessing elements in a dictionary?
ans= O(1) – constant time using hashing.
Fast even for large datasets, unlike lists (which are O(n)).
'''

In [ ]:
'''
Q-18: In what situations are lists preferred over dictionaries?
ans= When order matters (especially before Python 3.7).

When you only need indexed data.

When keys are not needed, e.g., iterating over items in order.
'''

In [ ]:

'''
Q-19:Why are dictionaries considered unordered, and how does that affect data retrieval?
ans= Older Python versions (before 3.7) did not guarantee key order.
Now, insertion order is preserved, but they’re still accessed using keys, not index.
'''

In [ ]:
'''
Q-20: Explain the difference between a list and a dictionaryin terms of data retrieval?
ans= A list is an ordered collection accessed by index, useful for storing items in sequence. A dictionary is an unordered collection of key-value pairs, accessed by keys, ideal for labeled data. Lists allow duplicates and use positions;
dictionaries use unique keys for fast lookup.

In [1]:

                                                     # ASSIGNMENT PRACTICAL QUESTIONS

# Q-1: Write a code to create a string with your name and print it ? 
string="keshav"
print("my name is ",string)

my name is  keshav

In [2]:
# Q-2: Write a code to find the length of the string "Hello World"?
s="Hello World"
print("the length of a string is ",len(s))

the length of a string is  11

In [3]:
# Q-3: Write a code to slice the first 3 characters from the string "Python Programming"?
word="python programming"
word[0:3]

'pyt'

In [6]:
# Q-4:Write a code to convert the string "hello" to uppercase?
s1="hello"
print(s1.upper())

HELLO

In [7]:
# Q-5: Write a code to replace the word "apple" with "orange" in the string "I like apple"?
s2="I like apple"
print("replacing apple ")
print(s2.replace("apple","orange"))

replacing apple
I like orange

In [11]:
#Q-6:Write a code to create a list with numbers 1 to 5 and print it?
lis=[1,2,3,4,5]
print(lis)

[1, 2, 3, 4, 5]

In [14]:
# Q-7: Write a code to append the number 10 to the list [1, 2, 3, 4]?
lists=[1,2,3,4]
lists.append(10)
lists

[1, 2, 3, 4, 10]

In [15]:
 # Q-8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
code=[1,2,3,4,5]
code.remove(3)
code

[1, 2, 4, 5]

In [16]:
 # Q-9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
code1=['a','b','c','d']
code1[1]

'b'

In [17]:
 # Q-10: Write a code to reverse the list [10, 20, 30, 40, 50].
l=[10,20,30,40,50]
l[::-1]

[50, 40, 30, 20, 10]

In [18]:
#Q-11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuples=(100,200,300)
print(tuples)

(100, 200, 300)

In [19]:
# Q-12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tup=('red', 'green', 'blue', 'yellow')
tup[-2]

'blue'

In [20]:
# Q-13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t=(10, 20, 5, 15)
print(min(t))

5

In [21]:
 # Q-14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t1=('dog', 'cat', 'rabbit')
print(t1.index("cat"))

1

In [22]:
# Q-15 . Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t3=("apple","kiwi","mango")
if "kiwi"in t3:
    print("found")

found

In [23]:
# Q-16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
sets={'a', 'b', 'c'}
sets

{'a', 'b', 'c'}

In [26]:
# Q-17  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
sets={1, 2, 3, 4, 5}
sets.clear()
sets

set()

In [27]:
# Q-18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.
sets={1, 2, 3, 4}
sets.remove(4)
sets

{1, 2, 3}

In [29]:
# Q-19  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
sets={1, 2, 3}
sets2={3, 4, 5}
print("UNION=",sets|sets2)

UNION= {1, 2, 3, 4, 5}

In [30]:
# Q-20:Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
sets={1, 2, 3}
sets2={3, 4, 5}
print("UNION=",sets&sets2)

UNION= {3}

In [31]:
# Q-21: Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dictionary={"name":"keshav","age":"20","city":"new delhi"}
dictionary

{'name': 'keshav', 'age': '20', 'city': 'new delhi'}

In [32]:
# Q-22: Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dictionary1={'name': 'John', 'age': 25}
dictionary1["country"]="USA"
dictionary1

{'name': 'John', 'age': 25, 'country': 'USA'}

In [33]:
# Q-23:Write a code to access the value associated with the key "name" in the dictionary Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d={'name': 'Alice', 'age': 30}
d["name"]

'Alice'

In [38]:
# Q-24 : Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d1={'name': 'Bob', 'age': 22, 'city': 'New York'}
del d1["age"]
d1

{'name': 'Bob', 'city': 'New York'}

In [39]:
# Q-25 : . Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d2={'name': 'Alice', 'city': 'Paris'}
if "city" in d2:
    print("yes paris here ")

yes paris here

In [43]:
# Q-26: Write a code to create a list, a tuple, and a dictionary, and print them all.
ll=[1,2,3]
tupp=(1,2,3,4)
di={"name":"keshav","hello":"ji"}
print(ll,
      tupp,
      di)

[1, 2, 3] (1, 2, 3, 4) {'name': 'keshav', 'hello': 'ji'}

In [44]:
# Q-27: Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the 
#result.(replaced)
l=[1,33,10,2,100]
sorted(l)

[1, 2, 10, 33, 100]

In [45]:
# Q-28:Write a code to create a list with strings and print the element at the third index.
list_name=["apple","crunchies","date","mango"]
list_name[3]

'mango'

In [46]:
# Q-29:Write a code to combine two dictionaries into one and print the result.
dict_1={'a':1,'b':2}
dict_2={'c':3}
dict_1.update(dict_2)
dict_1

{'a': 1, 'b': 2, 'c': 3}

In [47]:
#Q-30: Write a code to convert a list of strings into a set.
list_1=['keshav','kapil','sundar pichai']
list_2=set(list_1)
list_2

{'kapil', 'keshav', 'sundar pichai'}